@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
body{
    background: linear-gradient(90deg, black 60%, orange);
    color: white;
    animation: infinite;
    animation-name: backgroundo;
    animation-duration: 40s;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-size: 110%;
}
.perfil{
    position: absolute;
    left: 5%;
    top: 10%;
}
.menu{
    position: absolute;
    left: 5%;
    top: 40%;
}
button{
    background: black;
    margin-top: 30px;
    margin: 20px;
    border-color: white;
    height: 50px;
    width: 300px;
    color: white;
    border-radius: 10px;
    transition: 500ms;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
button:hover{
    border-radius: 20px;
    font-size: 15px;
    color: black;
    background: white;
}
#myname{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 24%;
    top: 36%;
}