@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body{
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
#obg{
    justify-content: center;
    display: flex;
    margin: 30px auto;
}
button{
    cursor: pointer;
    background-color: black;
    border-color: white;
    transition: 500ms;
    color: white;
    height: 60px;
    width: 100px;
    border-radius: 3px;
}
button:hover{
    background-color: white;
    border-color: black;
    color: black;
    border-radius: 6px;
}