@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body{
    background-color: rgb(32, 32, 32);
    font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
    color: white;
}
#titlemargames{
    position: absolute;
    left: 10%;
    top: 8%;
}
.errorcubo-id-0{
    background-color: rgb(65, 65, 65);
    width: 200px;
    height: 250px;
    position: absolute;
    left: 5%;
    top: 30%;
    transition: 500ms;
}
.errorcubo-id-1{
    background-color: rgb(65, 65, 65);
    width: 200px;
    height: 250px;
    position: absolute;
    left: 115%;
    top: 0%;
    transition: 500ms;
}
.errorcubo-id-2{
    background-color: rgb(65, 65, 65);
    width: 200px;
    height: 250px;
    position: absolute;
    left: 115%;
    top: 0%;
    transition: 500ms;
}
.errorcubo-id-3{
    background-color: rgb(65, 65, 65);
    width: 200px;
    height: 250px;
    position: absolute;
    left: 115%;
    top: 0%;
    transition: 500ms;
}
.errorcubo-id-4{
    background-color: rgb(65, 65, 65);
    width: 200px;
    height: 250px;
    position: absolute;
    left: 115%;
    top: 0%;
    transition: 500ms;
}
.errorcubo-id-0:hover{
    width: 250px;
    height: 300px;
    display: flex;
}
.errorcubo-id-1:hover{
    width: 250px;
    height: 300px;
    display: flex;
}
.errorcubo-id-2:hover{
    width: 250px;
    height: 300px;
    display: flex;
}
.errorcubo-id-3:hover{
    width: 250px;
    height: 300px;
    display: flex;
}
.errorcubo-id-4:hover{
    width: 250px;
    height: 300px;
    display: flex;
}
#aviso{
    color: red;
}